
body, h1, h2, h3, h4, ol, p, ul {
    margin: 0
}

.btn, .confirm-bar > div, .login-btn, .main-tab-item, .signin-btn {
    cursor: pointer
}

.confirm-box, .fix:after, .horizontal-box aside, .ovh {
    overflow: hidden
}

#errorBox, .confirm-bar > div, .confirm-content h2, .contact-list, .horizontal-box aside, .login-btn, .signin-btn, .signin-user-info .signin-menu, .tc {
    text-align: center
}

body {
    line-height: 1.4;
    -webkit-text-size-adjust: none;
    min-height: 100%
}

ol, ul {
    padding-left: 0;
    list-style-type: none
}

a img, img {
    border: 0
}

em, i {
    font-style: normal
}

ul {
    list-style: none;
    padding: 0
}

mark {
    background: 0 0
}

a, body, button, h1, h2, h3, h4, h5, h6, input, select, textarea {
    color: #333;
    font-family: "微软雅黑", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}

input:focus, select:focus, textarea:focus {
    outline: 0
}

a {
    text-decoration: none
}

a:hover {
    color: #e81d62
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.fix:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    visibility: hidden
}

.bgw {
    background-color: #fff
}

.bgg {
    background-color: #F5F5F5
}

.rel {
    position: relative
}

.abs {
    position: absolute
}

.z1 {
    z-index: 1
}

.op0 {
    opacity: 0
}

.m0 {
    margin-top: 0 !important
}

#horizontalMask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    display: none
}

.horizontal-box {
    height: 10rem;
    width: 7.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5rem 0 0 -3.75rem
}

.horizontal-box aside {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    font-size: .7rem;
    height: 1rem;
    color: #4EA8FB;
    opacity: .6
}

.horizontal-box aside div {
    -webkit-animation: orienttext 3s linear infinite 2s;
    animation: orienttext 3s linear infinite 2s;
    height: 100%
}

.horizontal-box aside span {
    display: block;
    line-height: 1rem
}

.horizontal-phone {
    height: 3.25rem;
    width: 5rem;
    /*background: url(../images/app_page.png) no-repeat;*/
    background-size: 100% auto;
    top: 1rem;
    left: 50%;
    margin-left: -2.5rem;
    position: absolute;
    -webkit-animation: orient 3s linear infinite 2s;
    animation: orient 3s linear infinite 2s
}

.horizontal-logo {
    position: absolute;
    top: 1.7rem;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: -.6rem;
    background: url(../images/app_logo.png) no-repeat;
    background-size: 100% auto;
    -webkit-animation: orientlogo 3s linear infinite 2s;
    animation: orientlogo 3s linear infinite 2s
}

#msgBox, .confirm-box, .mask {
    position: fixed
}

/*@-webkit-keyframes orient {*/
    /*50% {*/
        /*-webkit-transform: rotate(-90deg);*/
        /*transform: rotate(-90deg)*/
    /*}*/
    /*from {*/
        /*-webkit-transform: rotate(0);*/
        /*transform: rotate(0)*/
    /*}*/
    /*90%, from {*/
        /*opacity: 1*/
    /*}*/
    /*to {*/
        /*opacity: 0;*/
        /*-webkit-transform: rotate(-90deg);*/
        /*transform: rotate(-90deg)*/
    /*}*/
/*}*/

/*@keyframes orient {*/
    /*50% {*/
        /*-webkit-transform: rotate(-90deg);*/
        /*transform: rotate(-90deg)*/
    /*}*/
    /*from {*/
        /*-webkit-transform: rotate(0);*/
        /*transform: rotate(0)*/
    /*}*/
    /*90%, from {*/
        /*opacity: 1*/
    /*}*/
    /*to {*/
        /*opacity: 0;*/
        /*-webkit-transform: rotate(-90deg);*/
        /*transform: rotate(-90deg)*/
    /*}*/
/*}*/

/*@-webkit-keyframes orientlogo {*/
    /*50%, from {*/
        /*background-image: url(../images/app_page.png)*/
    /*}*/
    /*55% {*/
        /*background-image: url(../images/app_page.png)*/
    /*}*/
    /*90%, from {*/
        /*opacity: 1*/
    /*}*/
    /*to {*/
        /*opacity: 0;*/
        /*background-image: url(../images/app_page.png)*/
    /*}*/
/*}*/

/*@keyframes orientlogo {*/
    /*50%, from {*/
        /*background-image: url(../images/app_page.png)*/
    /*}*/
    /*55% {*/
        /*background-image: url(../images/app_page.png)*/
    /*}*/
    /*90%, from {*/
        /*opacity: 1*/
    /*}*/
    /*to {*/
        /*opacity: 0;*/
        /*background-image: url(../images/app_page.png)*/
    /*}*/
/*}*/

/*@-webkit-keyframes orienttext {*/
    /*0%, 100%, 50% {*/
        /*-webkit-transform: translateY(0);*/
        /*transform: translateY(0);*/
        /*opacity: 1*/
    /*}*/
    /*52%, 98% {*/
        /*-webkit-transform: translateY(0);*/
        /*transform: translateY(0);*/
        /*opacity: 0*/
    /*}*/
    /*53%, 97% {*/
        /*-webkit-transform: translateY(-100%);*/
        /*transform: translateY(-100%);*/
        /*opacity: 0*/
    /*}*/
    /*55% {*/
        /*opacity: 1;*/
        /*-webkit-transform: translateY(-100%);*/
        /*transform: translateY(-100%)*/
    /*}*/
    /*95% {*/
        /*-webkit-transform: translateY(-100%);*/
        /*transform: translateY(-100%);*/
        /*opacity: 1*/
    /*}*/
/*}*/

/*@keyframes orienttext {*/
    /*0%, 100%, 50% {*/
        /*-webkit-transform: translateY(0);*/
        /*transform: translateY(0);*/
        /*opacity: 1*/
    /*}*/
    /*52%, 98% {*/
        /*-webkit-transform: translateY(0);*/
        /*transform: translateY(0);*/
        /*opacity: 0*/
    /*}*/
    /*53%, 97% {*/
        /*-webkit-transform: translateY(-100%);*/
        /*transform: translateY(-100%);*/
        /*opacity: 0*/
    /*}*/
    /*55% {*/
        /*opacity: 1;*/
        /*-webkit-transform: translateY(-100%);*/
        /*transform: translateY(-100%)*/
    /*}*/
    /*95% {*/
        /*-webkit-transform: translateY(-100%);*/
        /*transform: translateY(-100%);*/
        /*opacity: 1*/
    /*}*/
/*}*/

#msgBox {
    width: 100%;
    height: 3.2rem;
    top: -3.5rem;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: .9;
    color: #fff;
    -webkit-transition: .2s;
    transition: .2s
}

#msgBox.success {
    background-color: #4caf50
}

#msgBox.error {
    background-color: #ef6666
}

#msgBox.active {
    top: 0
}

.confirm-box {
    width: 14rem;
    left: 50%;
    margin-left: -7rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    z-index: 1000;
    border-radius: .5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .5s;
    transition: .5s;
    top: -40%;
    opacity: 0
}

.confirm-box.active {
    opacity: 1;
    top: 40%
}

.confirm-content {
    padding: 1rem 1.1rem;
    border-bottom: 1px solid #eee
}

.confirm-content h2 {
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .6rem
}

.confirm-content p {
    font-size: .6rem;
    color: #535353
}

.confirm-bar {
    display: -webkit-box;
    display: flex
}

.confirm-bar > div {
    width: 50%;
    height: 2.1rem;
    line-height: 2.1rem;
    font-size: .7rem;
    -webkit-transition: .3s;
    transition: .3s
}

.img, html {
    height: 100%
}

.confirm-bar > div:active {
    background-color: #efefef
}

.confirm-cancel {
    color: #3D96FF;
    border-right: 1px solid #eee
}

.confirm-submit {
    color: #3D96FF
}

.mask {
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    display: none
}

.mask.active {
    opacity: .5
}

html {
    -webkit-tap-highlight-color: transparent;
    font-size: 16px
}

.img {
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.main-about-body, .main-contact-body {
    padding-bottom: 68px;
    position: relative
}

.main-index-body {
    padding-top: 164px;
    padding-bottom: 318px;
    position: relative;
    /*background: url(../images/app_page.png) top center no-repeat #ef68ab;*/
    background:  #ef68ab;
    background-size: cover
}

.main-index-body .main-logo-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto
}

.main-contact-body, .main-recharge-body {
    background: url(../images/app_page.png) top center no-repeat #87e96e;
    background-size: cover
}

.main-about-body {
    background: url(../images/app_page.png) top center no-repeat #5cd1e3;
    background-size: cover
}

.main-footer {
    height: 68px;
    line-height: 68px;
    background: #1A1A1A;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99
}

.main-footer aside {
    float: right;
    color: #999;
    font-size: 12px
}

.main-menu {
    float: left;
    position: relative
}

.main-menu-item {
    display: inline-block;
    padding: 0 70px 0 30px;
    color: #fff;
    font-size: 18px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative
}

.main-menu-item:hover {
    color: #4FE3E1
}

.main-menu-active {
    width: 16px;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    background-color: #4FE3E1;
    -webkit-transition: all .3s cubic-bezier(.86, 0, .07, 1), opacity .15s;
    transition: all .3s cubic-bezier(.86, 0, .07, 1), opacity .15s
}

.main-info {
    height: 280px;
    bottom: 68px;
    background: #FFD900;
    width: 100%;
    left: 0;
    position: absolute
}

.main-info .main-container {
    display: table;
    height: 100%
}

.main-info-item {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 700
}

.main-info-item .main-icon {
    width: 100%;
    height: 90px;
    background: top center no-repeat;
    background-size: auto 100%;
    margin-bottom: 27px
}

.main-info-item .main-icon.icon-1 {
    background-image: url(../images/app_page.png)
}

.main-info-item .main-icon.icon-2 {
    background-image: url(../images/app_page.png)
}

.main-info-item .main-icon.icon-3 {
    background-image: url(../images/app_page.png)
}

.main-info-item aside {
    font-size: 14px;
    font-weight: 100;
    margin-top: 4px
}

.main-area {
    min-height: 510px;
    width: 100%;
    height: 100%;
    padding-top: 40px
}

.main-logo-area {
    padding-bottom: 60px;
    padding-top: 1px;
    position: relative
}

.main-logo {
    width: 160px;
    height: 160px;
    margin-top: 36px;
    margin-left: 82px;
    background: url(../images/app_logo.png) no-repeat;
    background-size: 100% auto
}

.about-area, .contact-area {
    width: 930px;
    margin: 0 auto 50px;
    border-radius: 10px;
    background: url(../images/app_page.png) center right no-repeat #00FD8E;
    background-size: auto 100%;
    padding: 28px 385px 16px 34px
}

.about-area .title, .contact-area .title {
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: 700
}

.about-area p, .contact-area p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 4px
}

.contact-area {
    padding-bottom: 34px;
    background: #D8FF0C;
    position: relative;
    z-index: 1
}

.contact-map, .main-phone, .main-phone-box, .signin-box {
    position: absolute
}

.contact-area:after {
    content: '';
    z-index: -1;
    width: 348px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 10px 10px 0
}

.contact-map {
    width: 771px;
    height: 414px;
    top: -48px;
    right: -103px;
    -webkit-transform: scale(.5, 1);
    transform: scale(.5, 1);
    -webkit-transition: .6s cubic-bezier(.17, .67, .42, 1.45);
    transition: .6s cubic-bezier(.17, .67, .42, 1.45)
}

.contact-map.active {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.contact-icon {
    width: 80px;
    height: 96px;
    margin-bottom: 44px
}

.main-title {
    width: 278px;
    height: 82px
}

.main-code {
    width: 140px;
    height: 140px;
    margin-top: 26px
}

.main-box {
    padding-left: 82px
}

.main-btn {
    width: 182px;
    height: 52px;
    border-radius: 8px;
    background: url(../images/app_page.png) center center no-repeat #FFD900;
    background-size: auto 38%;
    margin-top: 30px
}

.main-phone {
    width: 340px;
    height: 605px;
    top: 0;
    right: 46px;
    background: url(../images/app_page.png) center center no-repeat;
    background-size: 100% auto
}

.main-phone-box {
    width: 304px;
    height: 430px;
    /*background: url(../images/app_page.png) top center no-repeat #fff;*/
    background-size: 100% auto;
    top: 78px;
    left: 18px;
    border-radius: 2px
}

.contact-list {
    margin-bottom: 50px
}

.contact-item {
    display: inline-block;
    width: 280px;
    height: 74px;
    line-height: 74px;
    background-color: #7269CD;
    color: #fff;
    border-radius: 10px;
    margin: 0 21px 20px;
    font-size: 14px
}

.contact-item aside {
    display: inline-block;
    margin-left: 5px;
    font-weight: 700
}

.contact-item .icon {
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px
}

.signin-box {
    right: 90px;
    top: 36px
}

.login-box, .main-mask {
    position: fixed;
    display: none
}

.signin-btn {
    width: 120px;
    height: 50px;
    background-color: #1A1A1A;
    border-radius: 2px;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-top: 10px
}

.signin-btn:hover {
    background-color: #343434
}

.main-mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .7;
    z-index: 999
}

.login-box {
    top: 80px;
    width: 446px;
    left: 50%;
    margin-left: -223px;
    z-index: 1000
}

.login-box .main-logo {
    margin: 0
}

.login-btn, .main-tab, .signin-user-info {
    margin-top: 20px
}

.main-tab > div {
    display: inline-block
}

.main-tab-item {
    color: rgba(255, 255, 255, .4);
    position: relative;
    width: 80px;
    margin-right: 36px;
    padding-bottom: 10px;
    font-size: 24px
}

.login-btn, .main-tab-item.active {
    color: #fff
}

.main-tab-item.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #219DDC
}

.login-input-area {
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 7px;
    margin-top: 20px
}

.login-input-box {
    height: 80px;
    border-bottom: 1px solid #999
}

.login-input-box:last-child {
    padding: 20px 0;
    border-bottom: none
}

.login-input-box input {
    border: none;
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 18px;
    padding: 0 16px
}

.login-input-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    box-shadow: 0 0 0 1000px #fff inset;
    border: none !important
}

.login-btn {
    height: 70px;
    line-height: 70px;
    border-radius: 4px;
    background-color: #3D96FF;
    font-size: 24px
}

.login-btn:hover {
    background-color: #0a7aff
}

.signin-user-info {
    cursor: pointer;
    position: relative
}

.signin-user-info > div {
    display: inline-block;
    vertical-align: middle
}

.signin-user-info .name {
    color: #fff;
    font-size: 18px;
    margin-left: 16px
}

.signin-user-info .cover {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden
}

.signin-user-info .cover img {
    width: 100%;
    height: 100%
}

.signin-user-info:hover .signin-menu {
    display: block
}

.signin-user-info .signin-menu {
    padding-top: 10px;
    width: 140px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    z-index: 998
}

#errorBox, .signin-menu-item {
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px
}

.signin-menu-item {
    font-size: 16px;
    border-bottom: 1px solid #D8D8D8;
    background-color: #1A1A1A
}

.signin-menu-item:hover {
    background-color: #343434
}

.signin-menu-item:last-child {
    border-bottom: none
}

#errorBox {
    position: fixed;
    top: -50px;
    left: 0;
    z-index: 1001;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);
    opacity: .9;
    -webkit-transition: .2s;
    transition: .2s
}

#errorBox.success {
    background-color: #4caf50
}

#errorBox.error {
    background-color: #ef6666
}

#errorBox.active {
    top: 0
}

.recharge-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 50px;
    margin-bottom: 100px
}

.recharge-box h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    font-weight: 700
}

.recharge-box h2 aside {
    float: right;
    color: #FF8900;
    font-size: 1.2em
}

.recharge-box .login-btn {
    float: right;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    width: 120px
}

.recharge-item {
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 30px;
    margin-right: 5px
}